name = "nomad-{{ inventory_hostname_short }}"
datacenter = "{{ nomad_datacenter }}"

bind_addr = "{{ nomad_bind_addr }}"

{% if nomad_client_addr is defined %}
client_addr = "{{ nomad_client_addr }}"
{% endif %}

advertise {
    http = "{{ ansible_default_ipv4.address }}:4646"
    rpc = "{{ ansible_default_ipv4.address }}:4647"
    serf = "{{ ansible_default_ipv4.address }}:4648"
}

# Setup data dir
data_dir = "{{nomad_data_dir}}"

# Increase log verbosity
log_level = "INFO"

{% if nomad_client_enabled == 'true' %}
client {
    enabled = true
    {% if quorum_servers is defined %}
    servers = {{ quorum_servers }}
    {% endif %}
}
{% endif %}


{% if nomad_server_enabled == 'true' %}
server {
    enabled = true
    {% if quorum_servers is defined %}
    retry_join = {{ quorum_servers }}
    bootstrap_expect = {{ quorum_count }}
    {% else %}
    bootstrap_expect = 1
    {% endif %}
}
{% endif %}