{
    "advertise_addr": "{{ ansible_default_ipv4.address }}",
    "bind_addr": "0.0.0.0",
    "datacenter": "{{ consul_datacenter }}",
    "data_dir": "{{ consul_data_dir }}",
    "log_level": "INFO",
    "node_name": "{{ consul_agent_node_name }}",
    "retry_join": ["172.20.20.11", "172.20.20.12", "172.20.20.13"]
}
