{
    "advertise_addr": "{{ host_ip }}",
    "bind_addr": "0.0.0.0",
    "bootstrap_expect": 3,
    "datacenter": "{{ consul_datacenter }}",
    "data_dir": "{{ consul_data_dir }}",
    "log_level": "INFO",
    "node_name": "{{ consul_server_node_name}}",
    "retry_join": ["{{ hostvars.values()|map(attribute='host_ip')|join('", "') }}"],
    "server": true,
    "ui": true
}
